<div class="homepage">
  <img
    src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}"
    width="{{ article.image.width }}"
    height="{{ article.image.height }}"
    class="logo">
  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>